<div class="footer">
  <div class="info">


  <p class="address">99, Residency Rd, Shanthala Nagar, Ashok Nagar, Bengaluru, Karnataka 560025</p>
  <p class="phone-number"><a class="phone-number" href="tel:080 3321 9878">080 3321 9878</a></p>
  <p class="socials">Connect with us</p>
  <i class="fa-brands fa-twitter"></i>
  <i class="fa-brands fa-instagram"></i>
  <i class="fa-brands fa-square-facebook"></i>
  </div>
</div>
